body {
    background-color: #f1803a;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    text-align: center;
    height: 25%;
    width: 25%;
}

#postcode {
    text-align: center;
    font-size: 16px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 25px;
}

form {
    display: inline-block;
    

}

input {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: white;
    background-image: url('icons8-place-marker-64.png');
    background-size: 32px;
    background-position: 3px 50%; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: 0 5px 0 0;
}

input::placeholder{
    color: #d7d7d7;
}

.button {
    background-color: #ccc;;
    color: #f1803a;
    padding: 14px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: sans-serif;
    
}

.button:hover {
    background-color: #393737;
    transition-duration: 1s;
}